# Logs
*.log

# 환경 설정 파일
.env
.DS_Store

# 빌드 디렉토리
dist/
build/

# 테스트 파일
test/
*.test.js

# 문서
docs/

**/node_modules
/nestjs-opentelemetry-tracing/node_modules
/nestjs-opentelemetry-tracing/dist

*.tgz
*.zip
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.lz
*.tar.lzo
*.tar.lz4
*.tar.zstd
*.tar.lz4
*.tar.zstd
